<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Datos del Ramal</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Usted esta por eliminar un ramal </h5>
            <p class="card-text">
               <label>Nombre:</label> {{branchDelete.Nombre}},
               <label>Descripcion</label> {{branchDelete.Descripcion}}
            </p>            
        </div>
    </div>
</div>
<div class="modal-footer">
    <form name="form.deletebranch" ng-submit="deleteBranch()" class="form-deletebranch">
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary"><i class="fa fa-trash"></i> Borrar</button>
            <img ng-if="dataLoading" src="images/descarga.gif" />
            <button class="btn btn-danger" type="button" ng-click="cancelBranchModal()">Cancelar</button>
        </div>
    </form>
</div>