<div nav-user></div>
<div class=" content" id="content">
    <div class="col-sm-12 col-md-12">
        <h2>Compra pasaje MiBusApp</h2>
        <hr class="hr">
    </div>
    <div>
        <a class="btn btn-primary" mp-mode="dftl" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=4296396-7419782e-a5c2-48e5-8ab0-6b2b2ec8c754" name="MP-payButton" class='blue-ar-l-rn-none'>Pagar</a>
    </div>
</div>

<script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script>
<footer></footer>