<div nav-user></div>
<div class="content" id="content">
    <div class="col-sm-12 col-md-12">
        <h2>Horarios MiBus</h2>
        <hr class="hr">
    </div>
    <form class="col-sm-12 col-md-12">
        <div class="form-group row">
            <label for="empresa"  class="col-sm-2 col-form-label" >Empresa:</label>
            <div class="col-sm-5">
                <select ng-model="empresa" class="form-control" ng-change="updateRamalByEmpresa(empresa.Id)" ng-options="empresa.Nombre for empresa in empresas track by empresa.Id">
                    <option value="">Seleccione una opcion</option>
                </select> 
            </div>
        </div>
        <div class="form-group row">
            <label for="ramal"  class="col-sm-2 col-form-label" >Ramal:</label>
            <div class="col-sm-5">
                <select ng-model="ramal" class="form-control" ng-change="updateRecorridosByRamal(ramal.Id)" ng-options="ramal.Nombre for ramal in ramales track by ramal.Id">
                    <option value="">Seleccione una opcion</option>
                </select> 
            </div>
        </div>
        <div class="form-group row">
            <label for="recorrido"  class="col-sm-2 col-form-label" >Recorrido:</label>
            <div class="col-sm-5">
                <select ng-model="recorrido" class="form-control" ng-change="updateHorariosByRecorrido(recorrido.Id)" ng-options="recorrido.Nombre for recorrido in recorridos track by recorrido.Id">
                    <option value="">Seleccione una opcion</option>
                </select> 
            </div>
        </div>
    </form>
    <div ng-show="schedulesOk">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Dia</th>
              <th scope="col">Hora</th>
              <th scope="col">Ramal</th>
              <th scope="col">Recorrido</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="horario in horarios">
              <td scope="row">{{horario.Fecha}}</td>
              <td>{{horario.HoraSalida}}</td>
              <td>{{ramal.Nombre}}</td>
              <td>{{recorrido.Nombre}}</td>
              <td><button class="btn btn-primary" ng-click="buy(horario)"> Comprar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<footer></footer>
