<link rel="stylesheet" href="css/table/table.style.css">
<div nav-user></div>
<div class="content" id="content">
    <div class="col-sm-12 col-md-12">
        <h2>Horarios MiBus</h2>
        <hr class="hr">
    </div>
    <div class="col-sm-12 col-md-12" ng-show="!loadComboBranchsRoutes">
        <div class="form-group row">
                <label for="busqueda" class="col-sm-2 col-form-label col-xs-12">Buscar</label>
            <input type="text" id="busqueda" class="form-control mb-3 col-md-6 col-xs-12 col-lg-6"  ng-model="busqueda" ng-change="buscar(busqueda)">
        </div>
        <div class="" ng-repeat="empresa in filtroEmpresas" style="background: #cbe4ec;border: solid 1px;cursor: pointer" ng-click="loadBranchsRoutes(empresa);">
            <div class="media border p-3">
                <img src="images/combi.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                  <h4>{{empresa.Nombre}} <small><i>{{empresa.Descripcion}}</i></small></h4>
                  <p>{{empresa.Direccion}}</p>
                </div>
            </div>
        </div>
        <ul uib-pagination total-items="totalEmpresas" max-size="5" boundary-link-numbers="true" rotate="false" next-text="Siguiente" previous-text="Anterior" items-per-page="numPerPage" ng-model="currentPage"></ul>
    </div>
    <form class="col-sm-12 col-md-12"  ng-show="loadComboBranchsRoutes">
        <div class="form-group row" style="padding-left: 10px">
            <button class="btn btn-primary offset-md-10 offset-lg-10 offset-sm-10" ng-click="backLoadEmpresas()"><i class="fa fa-arrow-left"></i> Volver </button>
        </div>
        <div class="media-body">
            <h5>Empresa seleccionada:</h5>
            <h4 style="color:blue;">{{empresa.Nombre}} <small><i>{{empresa.Descripcion}}</i></small></h4>
        </div>
        <div class="form-group row">
            <label for="ramal"  class="col-sm-2 col-form-label" >Ramal:</label>
            <div class="col-sm-5">
                <select ng-model="ramal" class="form-control" ng-change="updateRecorridosByRamal(ramal.Id)" ng-options="ramal.Nombre for ramal in ramales track by ramal.Id">
                    <option value="">Seleccione una opcion</option>
                </select> 
            </div>
        </div>
        <div class="form-group row">
            <label for="recorrido"  class="col-sm-2 col-form-label" >Recorrido:</label>
            <div class="col-sm-5">
                <select ng-model="recorrido" class="form-control" ng-change="updateViajesByRecorrido(recorrido.Id)" ng-options="recorrido.Nombre for recorrido in recorridos track by recorrido.Id">
                    <option value="">Seleccione una opcion</option>
                </select> 
            </div>
        </div>
        <div class="form-group row">
            <label for="day"  class="col-sm-2 col-form-label" >Filtrar por Dia:</label>
            <div class="col-sm-5">
                <select ng-model="day" class="form-control" ng-change="filterByDayJourney(day)" ng-options="day.Nombre for day in days track by day.Id" ng-disabled="disabledDays">
                    <option value="">Todos los dias</option>
                </select> 
            </div>
        </div>
    </form>
    <div ng-show="schedulesOk && loadComboBranchsRoutes" >
        <div class="form-group row">
            <label for="busqueda" class="col-sm-2 col-form-label col-xs-12">Buscar</label>
        <input type="text" id="busqueda" class="form-control mb-3 col-md-6 col-xs-12 col-lg-6"  ng-model="busqueda" ng-change="buscar(busqueda)">
    </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Dia</th>
              <th scope="col">Hora</th>
              <th scope="col">Ramal</th>
              <th scope="col">Fecha Viaje</th>
              <th scope="col">Recorrido</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="journey in filtroJourneys">
              <td scope="row">{{journey.DiaNombre}}</td>
              <td>{{journey.HoraSalida}}</td>
              <td>{{journey.RamalNombre}}</td>
              <td><label ng-bind="formatDate(journey.FechaViaje) |  date:'dd/MM/yyyy'"></label> </td>
              <td>{{journey.RecorridoNombre}}</td>
              <td><button class="btn btn-primary" ng-click="buy(journey)"> Comprar</button></td>
            </tr>
          </tbody>
        </table>
        <ul uib-pagination total-items="totalJourneys" max-size="5" boundary-link-numbers="true" rotate="false" next-text="Siguiente" previous-text="Anterior" items-per-page="numPerPage" ng-model="currentPage"></ul>
      </div>
    </div>
</div>
<footer></footer>
