<div nav-user></div>
<div class=" content" id="content">
    <div class="col-sm-12 col-md-12">
        <h2>Horarios MiBus</h2>
        <hr class="hr">
    </div>
    <div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Hora</th>
              <th scope="col">Parada</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>19:00</td>
              <td>Esq Alem.</td>
              <td><a class="nav-link" href="#!purchase">Compra</a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>16:00</td>
              <td>Esq Las heras</td>
              <td><a class="nav-link" href="#!purchase">Compra</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<footer></footer>
