<div nav-user ng-if="userEdit.RolId == 1"></div>
<div nav-driver ng-if="userEdit.RolId == 2"></div>
<div nav-admin ng-if="userEdit.RolId == 3"></div>
<div class=" content" id="content">
    <div class="col-sm-12 col-md-12">
        <h2>Editar perfil</h2>
        <hr class="hr">
    </div>
        <div class="text-center">
            <div class="offset-md-2 col-md-7">
                <form name="form.register" ng-submit="updateUser(userEdit)" class="form-register">
                    <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" class="form-control" ng-model="userEdit.name"/>
                        <span ng-show="form.name.$dirty" class="help-block">El nombre es requerido</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.surname.$dirty && form.surname.$error.required }">
                        <label for="surname">Apellido</label>
                        <input type="text" name="surname" id="surname" class="form-control" ng-model="userEdit.surname" />
                        <span ng-show="form.surname.$dirty" class="help-block">El apellido es requerido</span>
                    </div>
                    <div class="form-group">
                        <label for="dnitype">Tipo de Documento:</label>
                        <select ng-model="userEdit.dnitype" class="form-control" ng-options="dnitype.Nombre for dnitype in dnitypes track by dnitype.Id">
                            <option value="">Seleccione una opcion</option>
                        </select> 
                    </div>
                    <div class="form-group">
                        <label for="dni">Numero de documento:</label>
                        <input type="number" class="form-control" name="dni" id="dni" ng-minlength="7" ng-model="userEdit.dni" ng-maxlength="10">    
                    </div>
                    <div class="form-group">
                        <label for="tel">Telefono:</label>
                        <input type="number" class="form-control" name="tel" id="tel" ng-minlength="7" ng-model="userEdit.tel" ng-maxlength="10">    
                    </div>

                    <div style="border: 1px solid #c5b4b4!important;border-radius: 16px;">
                        <div style="padding-top:5px;padding-right: 5px;padding-left: 5px;padding-bottom: 5px;">
                            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" ng-model="userEdit.password" />
                                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Clave requerida</span>
                            </div>   
                            <div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required }">
                                <label for="confirmPassword">Confirmar Password</label>
                                <input type="password" name="password" id="password" class="form-control" ng-model="userEdit.confirmPassword" />
                                <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block">Confirme la clave</span>
                            </div>                           
                        </div>
                    </div>
                    <br>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Guardar cambios</button>
                        <img ng-if="dataLoading" src="images/descarga.gif" />
                        <a ng-if="userEdit.RolId == 1" href="#!/" class="btn btn-link">Cancelar</a>
                        <a ng-if="userEdit.RolId == 2" href="#!admin-driver" class="btn btn-link">Cancelar</a>
                        <a ng-if="userEdit.RolId == 3" href="#!admin-home" class="btn btn-link">Cancelar</a>
                    </div>
                </form>
                <br>
            </div> 
        </div>
    </div>
</div>
<footer></footer>