<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Datos del Viaje</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="form.savejourneys" ng-submit="setJourneys(journey)" class="form-savesjourneys">
        <div class="form-group">
            <div style="display:inline-block; min-height:200px;">
                <div uib-datepicker ng-model="journey.dt" ng-change="updateSchedulesByDay(journey.dt.getDay())" class="well well-sm" datepicker-options="options"></div>
            </div> <br>
            <strong style="color:red;">
                    <label>Dia elegido</label> <label  ng-bind="formatNumberDate(journey.dt.getDay())"></label>
                    <label>La fecha elegida: </label> <label ng-bind="formatDate(journey.dt) |  date:'dd/MM/yyyy'"></label>
            </strong>
        </div>
        <div class="form-group">
            <label for="schedule">Horario:</label>
            <select ng-model="journey.schedule" class="form-control" ng-options="schedule.HoraSalida for schedule in schedulesFilter track by schedule.Id"  required autofocus>
                <option value="">Seleccione una opcion</option>
            </select> 
        </div>
        <div class="form-group">
            <label for="driver">Chofer:</label>
            <select ng-model="journey.driver" class="form-control" ng-options="driver as driver.FullName +' - '+ driver.Dni for driver in driversJourney track by driver.Id"  required>
                <option value="">Seleccione una opcion</option>
            </select> 
        </div>
        <div class="form-group">
            <label for="vehicle">Vehiculo:</label>
            <select ng-model="journey.vehicle" class="form-control" ng-options="vehicle as vehicle.Descripcion + ' - ' + vehicle.Patente for vehicle in vehicles track by vehicle.Id"  required>
                <option value="">Seleccione una opcion</option>
            </select> 
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
            <label for="description">Descripcion</label>
            <input type="text" name="description" id="description" class="form-control" ng-model="journey.description" required />
            <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">La descripcion es requerido</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Guardar</button>
            <img ng-if="dataLoading" src="images/descarga.gif" />
            <button class="btn btn-danger" type="button" ng-click="cancelJourneysModal()">Cancel</button>
        </div>
    </form>
</div>