<link rel="stylesheet" href="css/table/table.style.css">

<style>
    .bg-light, .table-title {
        background-color: #FFFFFF !important;
         color: black;
    }
    #title{
        font-size: 34px;
    }
</style>
<div nav-user></div>
<div class="container" id="content">
    <div class="contenedor" >
        <div class="col-sm-12">
            <h2 id="title">Historial MiBusApp</h2>
        </div>
        <hr>
        <div class=""> 
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>        
                        <tr ng-repeat="record in records">
                            <td>{{record.Fecha}}</td>
                            <td>{{record.HoraSalida}}</td>
                            <td>{{record.Importe}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
            
<footer></footer>