<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Datos del recorrido</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="form.deleteroutes" ng-submit="deleteRoutes()" class="form-deleteroutes">
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Borrar</button>
            <img ng-if="dataLoading" src="images/descarga.gif" />
            <button class="btn btn-danger" type="button" ng-click="cancelRoutesModal()">Cancel</button>
        </div>
    </form>
</div>