<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Datos del Recorrido</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Usted esta por eliminar </h5>
            <p class="card-text">
               <label>Nombre:</label> {{routeDelete.Nombre}},
               <label>Descripcion</label> {{routeDelete.Descripcion}}
            </p>            
        </div>
    </div>
</div>
<div class="modal-footer">
    <form name="form.deleteroutes" ng-submit="deleteRoutes(routeDelete)" class="form-deleteroutes">
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary"><i class="fa fa-trash"></i> Borrar</button>
            <img ng-if="dataLoading" src="images/descarga.gif" />
            <button class="btn btn-danger" type="button" ng-click="cancelRoutesModal()">Cancelar</button>
        </div>
    </form>
</div>
