<head>
    <style>

    </style>
</head>
<style>
    .bg-light {
        background-color: #b4d3de !important;
    }
    button{
        font-family:arial,helvetica,courier;
    }
    #driver-map {
        height: 38em;
    }
    .inlinebtn{
        display: inline;
    }
</style>

<div nav-driver></div>
<div id="content">
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mt-2" ng-class='btnIniciar'>
         <button class="button btn-success btn-lg btn-block"  ng-click='initReport()' ng-disabled='noElegido === true'>Iniciar <br class="d-none d-md-block">  Recorrido<span></span> <i class="fa fa-play-circle"></i></button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mt-2" ng-class='btnDetener'>
         <button class="button btn-danger btn-lg btn-block "  ng-click='stopReport()'>Finalizar <br class="d-none d-md-block"> Recorrido <span></span><i class="fa fa-stop-circle" aria-hidden="true"></i>
         </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mt-2">
         <button class="button btn-primary btn-lg btn-block" ng-disabled='iniciado === false' ng-click='ocuparLibre()'>Embarcar <br class="d-none d-md-block"> Libre <span></span><i class="fa fa-arrow-down"></i></button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mt-2">
         <button class="button btn-primary btn-lg btn-block" ng-disabled='iniciado === false' ng-click='ocuparComprado()'>Embarcar <br class="d-none d-md-block"> Comprado  <span></span><i class="fa fa-arrow-down"></i></button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mt-2">
         <button class="button btn-primary btn-lg btn-block" ng-disabled='iniciado === false' ng-click='liberar()'>Liberar <br class="d-none d-md-block"> Pasaje <span></span><i class="fa fa-arrow-up"></i></button>
    </div>
</div>
        <hr class="hr">
    </div>
    <div>
        <div id="driver-map"></div>
    </div>
</div>