<head>
    <style>

    </style>
</head>
<style>
    .bg-light {
        background-color: #b4d3de !important;
    }

    #driver-map {
        height: 39em;
    }
</style>


</body>

<div nav-driver></div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mt-2">
         <button class="button btn-info btn-lg btn-block" ng-click='initReport()'>Iniciar Recorrido</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 d-none mt-2">
         <button class="button btn-info btn-lg btn-block " ng-click='stopReport()'>Detener Recorrido</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mt-2">
         <button class="button btn-info btn-lg btn-block" ng-click='ocuparLibre()'>Embarcar libre</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mt-2">
         <button class="button btn-info btn-lg btn-block" ng-click='ocuparComprado()'>Embarcar comprado</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 mt-2">
         <button class="button btn-info btn-lg btn-block" ng-click='liberar()'>Liberar pasaje</button>
    </div>
</div>
<div class="content" id="content">
    <div class="col-sm-12 col-md-12">
        <hr class="hr">
    </div>
    <div>
        <div id="driver-map"></div>
    </div>
</div>