<style>
    form-reset{
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        padding-top: 50px
        }
</style>
<div class=" content" id="content">
    <div class="col-sm-12 col-md-12">
        <h2>Recuperar clave a MiBusApp</h2>
        <hr class="hr">
    </div>
    <div class="text-center">
        <div class="offset-md-2 col-md-7">
            <form name="form.reset" ng-submit="resetPassword(user)" class="form-reset">
                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email"  ng-model="user.email" class="form-control" />
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email es requerido</span>
                  </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Enviar codigo</button>
                    <img ng-if="vm.dataLoading" src="images/descarga.gif" />
                    <a href="#!/login" class="btn btn-link">Cancelar</a>
                </div>
            </form>
        </div> 
    </div>
</div>
<br>
<footer-simple></footer-simple>
