<style>
    .bg-light {
        background-color: #b4d3de !important;
    }

    .menu {
        padding: 3%;
    }

    .boton {
        margin: 2%;
        background-color: rgb(40, 134, 211);
        width: 90%;
        height: 150%;
    }
</style>




<div nav-admin></div>
<div class="row">
    <div class="col-6 menu">
        <div class="boton">
            <h1>Viajes</h1>
        </div>

    </div>
    <div class="col-6 menu">
        <div class="boton">
                <H1>Recorridos</H1>

        </div>
    </div>
    <div class="col-6 menu">
        <div class="boton">
                <h1>Choferes</h1>

        </div>
    </div>
    <div class="col-6 menu">
        <div class="boton">
                <h1>Vehiculos</h1>

        </div>
    </div>

</div>