<style>
    .bg-light {
        background-color: #b4d3de !important;
    }

    .menu {
        padding: 3%;
    }

    .boton {
        margin: 2%;
        background-color: rgb(122, 201, 224);
        width: 90%;
        height: 150%;
        border-radius: 10px;
    }
</style>

<div nav-admin></div>
<div class="row" id="swipeHome">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 menu">
        <a href="#!admin-journey"  class="btn btn-info boton"><h1>Viajes</h1></a>
        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 menu">
        <a href="#!admin-routes" class="btn btn-info boton"><H1>Recorridos</H1></a>
        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 menu">
        <a href="#!admin-drivers" class="btn btn-info boton"><h1>Choferes</h1></a>
       
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 menu">
        <a href="#!admin-bus" class="btn btn-info boton"><h1>Vehiculos</h1></a>
        
    </div>

</div>