<style>
    .bg-light {
        background-color: #b4d3de !important;
    }

    .menu {
        padding: 3%;
    }

    .boton {
        margin: 2%;
        background-color: rgb(122, 201, 224);
        width: 90%;
        height: 150%;
        border-radius: 10px;
    }
    .contenedor{
        width: 100%;
        height: 100%;
    }
</style>

<div nav-admin></div>
<div class="row contenedor" id="swipeHome">
    <div class="col-sm-12 col-md-12 col-lg-12 content" id="content">
        <div class="col-sm-12 col-md-12">
            <h2>Bienvenidos a Mi Bus , {{user.Nombre}} {{user.Apellido}}!</h2>
            <hr class="hr">
        </div>
        <div class="card" style="">
            <img src="images/cartel-bienvenidos-500x700.png" class="card-img-top" alt="Mapa Universidad">
            <div class="card-body">
                <h5 class="card-title">Aca encontraras los accesos que necesites.</h5>
                <div class="row">
                    <div class="col-md-3">
                            <a href="#!admin-journey" class="btn btn-primary"><i class="fa fa-bus"></i> Gestion de Viajes </a>
                    </div>
                    <div class="col-md-3">
                            <a href="#!admin-drivers" class="btn btn-primary"><i class="fa fa-id-badge"></i> Gestion de Choferes </a>
                    </div>
                    <div class="col-md-3">
                            <a href="#!user-edit" class="btn btn-primary"><i class="fa fa-edit"></i> Edita tu perfil </a>
                    </div>
                    <div class="col-md-3">
                            <a href="#!admin-bus-stop" class="btn btn-primary"><i class="fa fa-edit"></i> Gestion de Paradas </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>