<style>
        .bg-light {
            background-color: #b4d3de !important;
        }
    </style>


</body>

<div nav-admin></div>
<div id="swipeDrivers" class="container-fluid">
    <div class="col-sm-12 col-md-12">
        <h2>Registrar choferes a  MiBusApp</h2>
        <hr class="hr">
    </div>
    <div class="row card card-body">
        <div class="col-md-12 text-right" style="padding-bottom: 5px;">
                <button class="btn btn-small btn-success" ng-click="openModalDriverCreate()"><i class="fa fa-plus"></i> Nuevo</button>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col">Licencia de conducir</th>
                        <th class="col">Nombre</th>
                        <th class="col">Apellido</th>
                        <th class="col">DNI</th>
                        <th class="col">Direccion</th>
                        <th class="col">Telefono</th>
                        <th class="col">Email</th>
                        <th class="col">#</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="driver in drivers">
                        <td>{{driver.NroLicencia}}</td>
                        <td>{{driver.Nombre}}</td>
                        <td>{{driver.Apellido}}</td>
                        <td>{{driver.Dni}}</td>
                        <td>{{driver.Direccion}}</td>
                        <td>{{driver.Telefono}}</td>
                        <td>{{driver.Email}}</td>
                        <td>
                            <div class="row">
                                    <button class="btn btn-small btn-warning col-md-1" ng-click="openModalDriverEdit()"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-small btn-danger col-md-1" ng-click="openModalDriverDelete()"><i class="fa fa-trash"></i></button>                                    
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modalCreateDriver.view.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Datos del chofer</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="form.registerdriver" ng-submit="registerDriver(user)" class="form-registerdriver">
            <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" class="form-control" ng-model="user.name"  required autofocus />
                <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">El nombre es requerido</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.surname.$dirty && form.surname.$error.required }">
                <label for="surname">Apellido</label>
                <input type="text" name="surname" id="surname" class="form-control" ng-model="user.surname" required />
                <span ng-show="form.surname.$dirty && form.inpSurname.$error.required" class="help-block">El apellido es requerido</span>
            </div>
            <div class="form-group">
                <label for="dnitype">Tipo de Documento:</label>
                <select ng-model="user.dnitype" class="form-control" ng-options="dnitype.Nombre for dnitype in dnitypes track by dnitype.Id">
                    <option value="">Seleccione una opcion</option>
                </select> 
            </div>
            <div class="form-group">
                <label for="dni">Numero de documeto:</label>
                <input type="number" class="form-control" name="dni" id="dni" ng-minlength="7" ng-model="user.dni" ng-maxlength="10">    
            </div>
            <div class="form-group">
                <label for="tel">Telefono:</label>
                <input type="number" class="form-control" name="tel" id="tel" ng-minlength="7" ng-model="user.tel" ng-maxlength="10">    
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                <label for="email">Email</label>
                <input type="email" name="email" id="email"  ng-model="user.email" class="form-control" />
                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email es requerido</span>
                </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Guardar chofer</button>
                <img ng-if="vm.dataLoading" src="images/descarga.gif" />
                <button class="btn btn-danger" type="button" ng-click="cancelDriverCreate()">Cancel</button>
            </div>
        </form>
    </div>
</script>