<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Datos del chofer</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Usted esta por eliminar al chofer </h5>
            <p class="card-text">
               <label>Nombre:</label> {{userDelete.FullName}},
               <label>Documento</label> {{userDelete.Dni}}
            </p>            
        </div>
    </div>
</div>
<div class="modal-footer">
    <form name="form.deletedriver" ng-submit="deleteDriver()" class="form-deletedriver">
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary"><i class="fa fa-trash"></i> Borrar</button>
            <img ng-if="vm.dataLoading" src="images/descarga.gif" />
            <button class="btn btn-danger" type="button" ng-click="cancelDriverModal()">Cancelar</button>
        </div>
    </form>
</div>