<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Editar datos del chofer</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="form.register" ng-submit="updateDriver(userEdit)" class="form-register">
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="userEdit.name"/>
            <span ng-show="form.name.$dirty" class="help-block">El nombre es requerido</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.surname.$dirty && form.surname.$error.required }">
            <label for="surname">Apellido</label>
            <input type="text" name="surname" id="surname" class="form-control" ng-model="userEdit.surname" />
            <span ng-show="form.surname.$dirty" class="help-block">El apellido es requerido</span>
        </div>
        <div class="form-group">
            <label for="dnitype">Tipo de Documento:</label>
            <select ng-model="userEdit.dnitype" class="form-control" ng-options="dnitype.Nombre for dnitype in dnitypes track by dnitype.Id">
                <option value="">Seleccione una opcion</option>
            </select> 
        </div>
        <div class="form-group">
            <label for="dni">Numero de documento:</label>
            <input type="number" class="form-control" name="dni" id="dni" ng-minlength="7" ng-model="userEdit.dni" ng-maxlength="10">    
        </div>
        <div class="form-group">
            <label for="tel">Telefono:</label>
            <input type="number" class="form-control" name="tel" id="tel" ng-minlength="7" ng-model="userEdit.tel" ng-maxlength="10">    
        </div>
        <div class="form-check">
                <input type="checkbox" ng-model="changePassEmailCheckbox" id="changePassEmailCheckbox" ng-init="changePassEmailCheckbox == false"/> 
            <label class="form-check-label" for="changePassEmailCheckbox">Cambiar Email o Password</label>
        </div>
        <div style="border: 1px solid #c5b4b4!important;border-radius: 16px;">
            <div style="padding-top:5px;padding-right: 5px;padding-left: 5px;padding-bottom: 5px;">
                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email"  ng-model="userEdit.email" class="form-control" ng-disabled="!changePassEmailCheckbox" />
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email es requerido</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="userEdit.password" ng-disabled="!changePassEmailCheckbox" />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>                            
            </div>
        </div>
        <br>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Guardar cambios</button>
            <img ng-if="vm.dataLoading" src="images/descarga.gif" />
            <a href="#!/" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>