<div nav-user></div>
<div class="row contenedor" id="swipeHome">
    <div class="col-sm-12 col-md-12 col-lg-12 content" id="content">
        <div class="col-sm-12 col-md-12">
            <h2>Bienvenidos a Mi Bus , {{user.Nombre}} {{user.Apellido}}!</h2>
            <hr class="hr">
            <h4>Gracias por unirte! </h4>
            <h4>Tendras todo lo que necesites en los siguientes links.</h4>   
        </div>
        <div class="card" style="">
            <img src="images/cartel-bienvenidos-500x700.png" class="card-img-top" alt="Mapa Universidad">
            <div class="card-body">
                <h5 class="card-title">Aca encontraras los accesos que necesites.</h5>
                <div class="row">
                    <div class="col-md-3">
                            <a href="#!/user-history" class="btn btn-primary"><i class="fa fa-archive"></i> Verifica tus ultimos pasajes </a>
                    </div>
                    <div class="col-md-3">
                            <a href="#!/schedules" class="btn btn-primary"><i class="fa fa-clock-o"></i> Mira los horarios disponibles </a>
                    </div>
                    <div class="col-md-3">
                            <a href="#!user-edit" class="btn btn-primary"><i class="fa fa-edit"></i> Edita tu perfil </a>
                    </div>
                    <div class="col-md-3">
                            <a href="#!/bus-view" class="btn btn-primary"><i class="fa fa-map-o"></i> Cheque MiBusApp en tiempo real! </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>