<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Datos del Vehiculo</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="form.savevehicle" ng-submit="setVehicles(vehicle)" class="form-savevehicle">
        <div class="form-group">
            <label for="brand">Marca:</label>
            <select ng-model="vehicle.brand" class="form-control"  ng-change="updateModelsByBrand(vehicle.brand)" ng-options="brand.Nombre for brand in brands track by brand.Id">
                <option value="">Seleccione una opcion</option>
            </select> 
        </div>
        <div class="form-group">
            <label for="model">Modelo:</label>
            <select ng-model="vehicle.model" class="form-control" ng-options="model.Nombre for model in models track by model.Id">
                <option value="" selected>Seleccione una opcion</option>
            </select> 
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.patent.$dirty && form.patent.$error.required }">
            <label for="patent">Patente</label>
            <input type="text" name="patent" id="patent" class="form-control" ng-model="vehicle.patent"  required autofocus />
            <span ng-show="form.patent.$dirty && form.patent.$error.required" class="help-block">La patente es requerida</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.capacity.$dirty && form.descripcion.$error.required }">
            <label for="capacity">Capacidad</label>
            <input type="text" name="capacity" id="capacity" class="form-control" ng-model="vehicle.capacity" required />
            <span ng-show="form.capacity.$dirty && form.capacity.$error.required" class="help-block">La capacidad es requerida</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.identification.$dirty && form.identification.$error.required }">
            <label for="identification">Identificacion</label>
            <input type="text" name="identification" id="identification" class="form-control" ng-model="vehicle.identification" required />
            <span ng-show="form.identification.$dirty && form.identification.$error.required" class="help-block">La Identificacion es requerido</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.descripcion.$error.required }">
            <label for="description">Descripcion</label>
            <input type="text" name="description" id="description" class="form-control" ng-model="vehicle.description" required />
            <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">La descripcion es requerido</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Guardar</button>
            <img ng-if="dataLoading" src="images/descarga.gif" />
            <button class="btn btn-danger" type="button" ng-click="cancelVehiclesModal()">Cancel</button>
        </div>
    </form>
</div>